/* Navbar */
.navbar-brand img {
    max-width: 150px;
    height: auto;
}

/* Welcome Section */
.container {
    max-width: 1100px;
}

.img-fluid {
    max-width: 90%;
    height: auto;
}

p {
    font-size: 1.1em;
    line-height: 1.6;

}

/* Responsive Styles */
@media (max-width: 768px) {
    .row {
        text-align: center;
    }
    .row img {
        width: 80%;
        margin-bottom: 20px;
    }
}


